#cube{
  margin-left: 50px;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
  position: relative;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: all 1s ease-in-out;
  transform: rotateY(20deg) rotateX(-35deg) rotateZ(10deg);
  
}

#cube div{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  
}

#face1{
  background-color: red;
}



#face2{
  background-color: blue;
  transform: rotateY(90deg) translateX(-100px) translateZ(100px) ;
}

#face3{
  background-color: green;
  transform: rotateX(90deg) translateY(100px) translateZ(-100px);
}
